.container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    font-size: 3vw;
    padding: .6em;
  }
  .red {
    color: white;
    font-size: 4vw;
    padding: 25px;
    background: gold;
    text-align: center;
    flex-grow: 1;
  }
  .gree {
    color: white;
    font-size: 4vw;
    padding: 10px;
    background: rgb(0, 217, 255);
    text-align: center;
  }
  .blue {
    color: white;
    font-size: 4vw;
    padding: 10px;
    background: rgb(255, 81, 0);
    text-align: center;
  }
  .red:nth-child(1){
    grid-column: span 4;
    }
  .gree:nth-child(2),
  .blue:nth-child(3) {
    grid-column: span 1;
    }
  @media screen and (max-width: 575px) {
      .container {
        display: block;
        }
      .red {
        margin: 20px 0;
      }
      .gree {
        margin: 10px 0;
      }
      .blue {
        margin: 10px 0;
      }
    }