body {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav article aside"
    "footer footer footer" ;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap:5px;
    height: 100vh;
    margin:0;

}
header, footer, article, nav, div {
    padding: 15px;
    background: rgb(128, 0, 111);
}
#header {
    grid-area: header;
    background-color: chartreuse;
}
#footer {
    grid-area: footer;
    background-color: crimson;
}
#aticle {
    grid-area: article;
    background-color: rgb(255, 20, 196);
}
#aside {
    grid-area: aside;
    background-color: darkorange;
}
#nav {
    grid-area: nav;
    background-color: deeppink;
}